:host {
    display: block;
    height: 100%;
}

select {
    background-image: none !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(var(--muted-foreground) / 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(var(--muted-foreground) / 0.4);
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.font-mono {
    font-family: 'JetBrains Mono', 'Fira Code', 'Courier New', monospace;
}